* {
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	background: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000000;
}

a {
	text-decoration: underline;
}

p, button {
	font-size: 14px;
}

.button {
	height: 32px;
	border-width: 0px;
	display: block;
}

#footer {
	width: 525px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#buttons, #info {
	display: inline-block;
	vertical-align: top;
}

#info {
	float: right;
	padding-top: 7px;
}

#svgButton {
	margin-top: 4px;
}
